/* loader.css */
.loader {
  inline-size: var(--loader-size);
  block-size: var(--loader-size);
  color: var(--loader-color);
  border-radius: 50%;
  background: conic-gradient(
    from 0turn,
    transparent 10%,
    currentColor 0 80%,
    transparent 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--loader-thickness)),
    #000 0
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--loader-thickness)),
    #000 0
  );
  animation: loader-spin var(--loader-speed) linear infinite;
  display: inline-block;
}

@keyframes loader-spin {
  to {
    transform: rotate(1turn);
  }
}

/* reduced motion support */
@media (prefers-reduced-motion: reduce) {
  .loader {
    animation: none;
    background: conic-gradient(
      from 0.125turn,
      transparent 10%,
      currentColor 0 80%,
      transparent 0
    );
  }
}
